extends layout
 
block content
    form#registerForm(method='POST' action='http://localhost:3000/musicSystem/loginAdmin')
        h1= 'Login Page'
        div
            label(for='emailId') Admin ID:
            input#adminId(type='text',name='adminId')
        div
            label(for='password') Password:
            input#password(type='password',name='password')
        div
            button(type='submit') Login 