extends layout
 
block content
    form#registerForm(method='POST' action='http://localhost:3000/musicSystem/createPlaylist')
        h1= 'Create Playlist'
        div
            label(for='creatorId') Creator ID:
            input#creatorId(type='text',name='creatorId')
        div
            label(for='pName') Playlist Name:
            input#pName(type='text',name='pName')       
        div
            button(type='submit') Create Playlist