extends layout

block content
  form#registerForm()
    h1 Admin Dashboard

    a(href="http://localhost:3000/musicSystem/viewUserDetails") 
      button(type="button") View Users

    a(href="http://localhost:3000/musicSystem/songsPage") 
      button(type="button") Songs

    a(href="http://localhost:3000/musicSystem/playlistsPage") 
      button(type="button") Playlists

