extends layout

block content
  div#nav
    ul.menu
      li#logo.menuitem OMS
      a(href="http://localhost:3000/musicSystem/registerPage") 
        li.menuitem Sign Up
      a(href="http://localhost:3000/musicSystem/loginPage") 
        li.menuitem Login