extends layout
 
block content
    form#registerForm()
        h1= 'Registration Sucessfull!'
        a(href="http://localhost:3000/musicSystem/loginPage")
            button(type="button") Login
        a(href="http://localhost:3000/musicSystem/") 
            button(type="button") Back to Home